.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-image: url("https://github.com/Lea225/intro-component-with-signup-form-master/blob/main/images/bg-intro-desktop.png?raw=true");
    background-color: hsl(0, 100%, 74%) ;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
.cta1,.cta2{
    font-family: 'Poppins';
}
.error-message-container {
    position: relative;
    margin-top: 10px;
  }
.error-message {
    color: hsl(0, 100%, 74%);
    font-size: 10px;
    margin-left: 60%;
    margin-top: -10px;
    margin-bottom: 5px;
}
.error-icon {
    display: none;
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translateY(-50%);
    pointer-events: none;
}
  .error-border {
    border: 2px solid hsl(0, 100%, 74%);
}
h1{
    width: 50%;
    font-size: 2.4em;
}
.price{
    color: hsla(0, 0%, 100%,0.8);
}
.bottom-p{
    color: hsl(246, 25%, 77%);
    font-size: 0.7em;
}
.terms{
    color: hsl(0, 100%, 74%);
    font-weight: bold;
}
.text{
    margin-top: 8%;
    color: hsl(0, 0%, 100%);
}
.text-p{
    width: 70%;
}
section{
    margin: 5rem;
    display: flex;
    font-size: 16px;
}
.form{
    width: 60%;
}
.cta1{
    margin-top: 5%;
    height: 7vh;
    border: none;
    color: hsl(0, 0%, 100%);
    padding: 10px 85px;
    margin-bottom: 5%;
    border-radius: 5px;
    opacity: 0.9;
    background-color: hsl(228, 45%, 44%);
    box-shadow: 4px 4px 10px hsla(0, 0%, 0%,0.2);
}
.cta2{
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
    padding: 10px;
    width: 97%;
    height: 7vh;
    background-color: hsl(154, 59%, 51%);
}
.cta2:hover{
    background-color: hsla(154, 59%, 51%,0.7);
}
input{
    border: 1px solid hsla(246, 25%, 77%,0.5);
    border-radius: 5px;
    padding-left: 20px;
    margin-left: 2%;
    font-weight: bold;
    height: 6vh;
    width: 90%;
    margin-bottom: 5%;
    color: hsl(249, 10%, 26%);
}

form{
    box-shadow: 1px 1px 10px hsla(0, 0%, 0%,0.5);
    padding: 20px;
    height: auto;
    flex-direction: column;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}
@media screen and (max-width: 850px) {
    section{
        margin: 3rem;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .form{
        width: 80%;
        margin-top: 20%;
    }
    h1{
        width: 80%;
    }
    .cta1{
        font-size: 1em;
        height: 13vh;
    }
}
@media screen and (min-width: 851px) and (max-width: 1024px)   {
    .form{
        width: 150%;
        margin-left: 5%;
    }
    .cta1{
        height: 8vh;
    }
    h1{
        font-size: 2em;
        width: 80%;
    }
    .text-p{
        width: 100%;
    }
}